.Product {
  width: 100vw;
  letter-spacing: 2px;
  .top {
    color: snow;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    width: 100vw;
    height: 45px;
    background-color: #302b2b;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .logo {
    margin-top: 50px;
    margin-left: calc(50% - 100px);
    margin-right: calc(50% - 100px);
    width: 200px;
    height: 200px;
    cursor: pointer;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .TopNav {
    margin-top: 30px;
    border-top: 1px solid #726a6a;
    border-bottom: 7px solid #302b2b;
    margin-left: 4vw;
    margin-right: 4vw;
    ul {
      display: flex;
      justify-content: space-evenly;
      font-size: 15px;
      font-weight: bold;
      padding: 15px;
      margin-left: 10vw;
      margin-right: 10vw;
      li {
        cursor: pointer;
      }
    }
  }
  .itemWrapper {
    margin-bottom: 150px;
    height: auto;
    .navi {
      margin-top: 30px;
      text-align: right;
      margin-right: 4vw;
      vertical-align: middle;
      color: #726a6a;
      .adminBox {
        text-align: right;
        margin-right: 2vw;
        .writeButton {
          padding: 10px;
          border: none;
          border-radius: 10px;
          background-color: slategray;
          color: whitesmoke;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
            background-color: red;
          }
        }
      }
    }
    .title {
      padding: 15px;
      border-bottom: 1px solid #726a6a;
      margin-left: 4vw;
      margin-right: 4vw;
      font-weight: bold;
      text-align: center;
    }
    .itemContainer {
      width: 1720px;
      margin-top: 50px;
      justify-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(50% - 860px);
      margin-right: calc(50% - 860px);
      .itemBox {
        cursor: pointer;
        margin: 30px 15px;
        width: 400px;
        height: 300px;
        .itemImg {
          width: 100%;
          height: 250px;
          overflow: hidden;
          img {
            transition: all 0.2s linear;
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
        .itemTitle {
          margin-top: 15px;
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
  .topBottom {
    cursor: pointer;
    .top {
      position: fixed;
      top: 85%;
      right: 2%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #6f6f85;
      text-align: center;
      padding-top: 13px;
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .bottom {
      position: fixed;
      top: 90%;
      right: 2%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #6f6f85;
      text-align: center;
      transform: scaleY(-1);
      padding-top: 15px;
      img {
        width: 55%;
        height: 55%;
        object-fit: fill;
      }
    }
  }
  footer {
    height: 350px;
    background-color: #221e1e;
    .footerSection {
      color: white;
      z-index: -1;

      .bodySection {
        width: 1200px;
        margin: 0 auto;

        .navWrapper {
          display: flex;
          justify-content: space-between;
          height: 60px;
          padding: 20px 0 0 0;
          font-size: 14px;

          .leftNav {
            span {
              padding-right: 30px;
            }
          }

          .rightNav {
            span {
              padding-right: 30px;
            }

            select {
              margin-top: -3px;
              padding-right: 30px;
              border: none;
              color: white;
              background: url('http://localhost:3000/images/arrow-down.svg')
                no-repeat right 4px center;
              background-color: rgba(34, 36, 52);
              font-size: 14px;
              font-family: 'Noto Sans KR', sans-serif;
              appearance: none;
              vertical-align: top;
              cursor: pointer;
            }

            select:focus {
              outline: none;
            }
          }
        }

        .mainBanner {
          margin: 50px auto;
          text-align: center;
          font-size: 3rem;
          font-weight: 600;
        }

        .companyInfo {
          font-size: 14px;

          .infoKey {
            color: grey;
            text-align: left;
          }

          .infoValue {
            margin: 0 30px 0 5px;
          }

          .firstInfoSection {
            padding: 10px 0 10px 0;
          }

          .secondInfoSection {
            padding: 10px 0 10px 0;
          }

          .lastInfoSection {
            padding: 10px 0 10px 0;

            img {
              width: 13px;
              margin-left: -25px;
              cursor: pointer;
            }
          }

          .protectFromRaw {
            padding: 40px 0 40px 0;
          }
        }

        .iconLinkSection {
          display: flex;
          justify-content: space-between;

          img {
            margin: 0 40px 0 0;
          }

          .facebook {
            width: 15px;
          }

          .twitter {
            width: 27px;
          }

          .youtube {
            width: 32px;
          }

          .instagram {
            width: 25px;
          }

          .sideBorder {
            margin: 0 40px 0 0;
            border-right: solid 1px;
            border-color: grey;
            font-size: 25px;
          }

          .apple {
            width: 24px;
          }
        }

        .helpedPeople {
          span {
            color: grey;
            font-size: 30px;
            font-weight: 700;
            word-spacing: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1740px) {
  .itemContainer {
    width: 1290px !important;
    margin-left: calc(50% - 645px) !important;
    margin-right: calc(50% - 645px) !important;
  }
}

@media (max-width: 1310px) {
  .itemContainer {
    width: 860px !important;
    margin-left: calc(50% - 430px) !important;
    margin-right: calc(50% - 430px) !important;
  }
}

// @media (max-width: 880px) {
//   .Product {
//     width: 650px;
//   }
//   .itemContainer {
//     width: 600px !important;
//     margin-left: calc(50% - 300px) !important;
//     margin-right: calc(50% - 300px) !important;
//   }
// }

// 핸드폰
@media (max-width: 480px) {
  .Product {
    letter-spacing: 2px;

    .top {
      color: snow;
      font-size: 10px;
      font-weight: bold;
      text-align: right;
      width: 100vw;
      height: 30px;
      background-color: #302b2b;
      padding: 10px;
      position: absolute;
      top: 0;
      z-index: 10;
    }
    .logo {
      margin-left: calc(50% - 50px);
      margin-right: calc(50% - 50px);
      margin-top: 50px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .TopNav {
      margin-top: 10px;
      border-top: 1px solid #726a6a;
      border-bottom: 7px solid #302b2b;
      margin-left: 0vw;
      margin-right: 0vw;
      ul {
        display: flex;
        justify-content: space-evenly;
        font-size: 5px !important;
        font-weight: bold;
        padding: 5px !important;
        margin-left: 10vw;
        margin-right: 10vw;
        li {
          cursor: pointer;
        }
      }
    }
    .itemWrapper {
      margin-bottom: 50px;
      .navi {
        font-size: 10px !important;
        margin-top: 30px;
        text-align: right;
        margin-right: 4vw;
        vertical-align: middle;
        color: #726a6a;
        .adminBox {
          text-align: right;
          margin-right: 2vw;
          .writeButton {
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: slategray;
            color: whitesmoke;
            font-weight: bold;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              background-color: red;
            }
          }
        }
      }
      .title {
        font-size: 7px !important;
        padding: 15px;
        border-bottom: 1px solid #726a6a;
        margin-left: 4vw;
        margin-right: 4vw;
        font-weight: bold;
        text-align: center;
      }
      .itemContainer {
        width: 350px !important;
        margin-top: 50px !important;
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(50% - 175px) !important;
        margin-right: calc(50% - 175px) !important;
        .itemBox {
          cursor: pointer;
          margin: 5px 5px !important;
          width: 165px !important;
          height: 100px !important;
          .itemImg {
            width: 100%;
            height: 80px !important;
            overflow: hidden;
            img {
              transition: all 0.2s linear;
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
          .itemTitle {
            margin-top: 10px !important;
            margin-bottom: 10px;
            font-size: 3px !important;
            font-weight: bold;
          }
          .itemDescription {
            display: none !important;
          }
        }
      }
    }
    .topBottom {
      display: none;
    }
    footer {
      height: 230px;
      background-color: #221e1e;
      .footerSection {
        color: white;
        z-index: -1;
        .bodySection {
          width: 100vw;
          margin: 0 auto;
          .navWrapper {
            display: flex;
            justify-content: space-between;
            height: 30px;
            padding: 10px 0 0 0;
            font-size: 5px;
            .leftNav {
              margin-left: 3vw;
              span {
                padding-right: 10px;
              }
            }
            .rightNav {
              margin-right: 3vw;
              span {
                padding-right: 10px;
              }
              select:focus {
                outline: none;
              }
            }
          }

          .mainBanner {
            margin: 30px auto;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
          }

          .companyInfo {
            margin-left: 3vw;
            font-size: 5px;
            .infoKey {
              color: grey;
              text-align: left;
            }
            .infoValue {
              margin: 0 10px 0 5px;
            }
            .firstInfoSection {
              padding: 10px 0 10px 0;
            }
            .secondInfoSection {
              padding: 10px 0 10px 0;
            }
            .lastInfoSection {
              padding: 10px 0 10px 0;
            }

            .protectFromRaw {
              padding: 40px 0 40px 0;
            }
          }
        }
      }
    }
  }
}
